$main-gap: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin-bottom: $main-gap;
  li {
    list-style-type: none;
    line-height: 2;
  }
}

h2 {
  margin-bottom: $main-gap;
}

.cv-main {
  max-width: 850px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    'header header'
    'personal details';

  .cv-header {
    grid-area: header;
    padding: $main-gap;
    text-align: center;
  }
  .cv-personal {
    grid-area: personal;
    padding: $main-gap;
    background-color: blue;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;

    .cv-photo {
      width: 100%;
      border-radius: 50%;
      margin-bottom: $main-gap;
      margin-top: $main-gap;
    }
  }
  .cv-details {
    padding: $main-gap;
    grid-area: details;
    text-align: center;
  }
}
